body {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

table, th, td {
  border: 1px solid black;
}

.table-div {
  display: flex;
  justify-content: center;
}

.filter-by-name {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.addedFilter {
  display: flex;
  justify-content: center;
}

.filter-style {
  display: flex;
  padding: 10px;

}

.filter-content {
  display: flex;
  margin-top: 07px;
}

.del-btn{
 height: 70%;
 border-radius: 10px;
  margin-left: 10px;
}

.filter-button {
  border-radius: 10px;
  margin-left: 10px;
}

.del-all-filters {
  border-radius: 10px;
  margin-left: 10px;
}

.order-button {
  border-radius: 10px;
  margin-left: 10px;
}